@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Bevan&family=Playball&display=swap');
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}
a{
    text-decoration: none !important;
    color: blue;
}
.heading{
  text-align:center;
  color:white;
  font-family: 'Bebas Neue', cursive !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input{
  color:rgb(85, 83, 82) !important;
  font-family: 'Patua One', cursive !important;
  font-size: large !important;
  font-weight: lighter !important;
}

